Source: qpid-python
Section: python
Priority: extra
Maintainer: Debian Middleware Maintainers <pkg-middleware-maintainers@lists.alioth.debian.org>
Uploaders: Irina Boverman <iboverma@redhat.com>
Build-Depends: debhelper (>= 9.0.0~), 
               dh-python,
               python-all-dev,
               python-setuptools,
               python (>= 2.6.6-3~),
               python-dev (>= 2.6.6-3~)
X-Python-Version: >= 2.6
Standards-Version: 3.9.7
Homepage: http://qpid.apache.org

Package: python-qpid
Architecture: all
Depends: ${python:Depends},
         python (>= 2.6),
         ${misc:Depends}
Provides: ${python:Provides}
Description: Python bindings for qpid/mlib
 A connection-oriented messaging API that supports many languages and platforms
 and implements AMQP protocol described at http://amqp.org/
 .
 This package contains the qpid Python bindings.

Package: python-qpid-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Python examples for qpid/mlib
 A connection-oriented messaging API that supports many languages and platforms
 and implements AMQP protocol described at http://amqp.org/
 .
 This package contains examples for the qpid Python bindings.
